body {
  margin: 40px auto;
  max-width: 70%;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.titleBar {
  margin: 20px auto;
  size: 100%;
  text-align: center;
  border: 5px solid rgb(0, 0, 0);
}
.titleBar p {
  font-size: 40px;
  font-weight: bold;
  color: gray;
  margin-top: 5px;
  margin-bottom: 30px;
  line-height: 50px;
}

/* .titleBar p,
.titleBar a {
} */
