body{margin:40px
    auto;max-width:auto;line-height:1.6;font-size:18px;color:#444;padding:0
    10px}
    h1,h2,h3{line-height:1.2}

.sidebar{
    margin: 10px auto;
}

.with-sidebar {
    overflow: hidden;
    }
    
.with-sidebar > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--s1) / 2 * -1);
    }
    
.with-sidebar > * > * {
    margin: calc(var(--s1) / 2);
    flex-basis: 25%;
    flex-grow: 1;
    }
    
.with-sidebar > * > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(75% - var(--s1));
    margin: 10px;
    }

